trigger:
- main

pool:
  vmImage: 'ubuntu-latest version'

stages:
- stage: Build
  displayName: 'Build application'
  jobs:
  - job: Build
    displayName: 'Build'
    steps:
    - script: echo "Building application..."
      displayName: 'Run a build script'
    # Add tasks to build your app and publish artifacts
    - publish build artifacts
    
- stage: Deploy
  displayName: 'Deploy to Server'
  jobs:
  - deployment: DeployApp
    displayName: 'Deploy the Job'
    environment: 'MyDeploymentEnvironment.MyServerResourceName' # Link to your specific environment/resource
    strategy:
      runOnce:
        deploy:
          steps:
          - script: echo "Deploying application to the server..."
            displayName: 'Deployment Script'
